<ion-header class="ion-no-border">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="img ion-text-center">
    <img src="../../assets/image/svg_initial.svg">
  </div>

  <div class="buttons ion-text-center">
    <ion-button href="login" class="button-login" expand="block" shape="round">LOGIN</ion-button>
    <ion-button href="signup"class="button-signup" expand="block" shape="round">SIGN UP</ion-button>
  </div>
</ion-content>

<ion-footer class="ion-no-border ion-text-center">
<span>TODO</span>
</ion-footer>
