<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button href="main">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <h1>CREATE<br>BOARDS</h1>


    <ion-item class="Input">
      <ion-label position="floating" class="textColor">TITLE BOARD</ion-label>
      <ion-input #boardTitle name="title" type="text"></ion-input>
    </ion-item>
    <div class="buttons ion-text-center">
      <ion-button class="button-create" expand="block" shape="round" (click)="createBoard(boardTitle.value)">CREATE</ion-button>
    </div>


</ion-content>

