ion-header{
  .ep1{
    width: 50px;
    height: 50px;  
  }
}

ion-content {
   // --background: linear-gradient(90deg, #1CD8D2 0%, #8ee9c3 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .buttons{
      .button-signup{
        font-weight: 500;
        font-size: 18px;
        font-family: Roboto;
        --color: #3FE1DB;
      }

      ion-button{
        --background: #64FCD9;
        color: white;
        font-weight: 900;
        font-family: Roboto;
        margin-top: 15%;
      }
    }

    a{
      font-size: 10px;
      font-family: Roboto;
      font-weight: 600;
    }
  }

  .title1{
    font-family: Raleway;
     line-height: 40px;
     text-align: center;
     font-size: 36px;
     margin-top: 0%;
     margin-bottom: 15%;
  }


  .textColor{
    color:#00B692;
  }

  .roundedInput {
    font-size: 12px;
    --placeholder-font-style: Roboto;
    --border-color: var(--ion-color-medium-shade);
    --border-radius: 15px;
    --box-shadow: 2px #E9F4FF;
    --highlight-height: 0;
    --background: #f8f9fa;
    margin-bottom: 5%;
  }

  ion-footer{
    span{
      font-size:30px;
    }
  }


