<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="primary">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>
    LIST
  </h1>
  <div [hidden]="showNothing" class="container ion-text-center">
    <img src="./assets/image/planets_main.svg">
    <ion-text><br>Nothing ToDo :c<br>Let's do something fun<br>:D</ion-text>
  </div>
  
  <div [hidden]="!showNothing" class="cardList ion-text-center">
    <ng-template ngFor let-item [ngForOf]="boards" let-i="index" [ngForTrackBy]="trackByFn">
      <ion-card text-center padding button=true href="to-do" (click)="openTasks(item)">
        <h2>{{item.title}}</h2>
      </ion-card>
    </ng-template>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button class="Add" href="create-board">
      <ion-icon name="Add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>